div.employee {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 100px; }
  div.employee h1.title {
    text-align: center;
    margin: 0;
    color: #000;
    font-size: 2em;
    padding: 50px 0 20px;
    position: relative;
    margin-bottom: 36px; }
  div.employee h1.title:after {
    content: '';
    width: 60%;
    height: 1px;
    background: #dcdcdc;
    position: absolute;
    bottom: 0;
    left: 20%; }
  div.employee h2.title {
    margin: 0;
    padding: 0 0 0 90px;
    color: #000;
    font-size: 1.5em;
    margin-bottom: 40px; }
    div.employee h2.title img {
      float: left;
      max-width: 50px;
      max-height: 40px;
      display: block;
      margin-right: 16px; }
    div.employee h2.title label {
      font-weight: normal;
      margin-top: 15px;
      margin-bottom: 0; }
  div.employee h3.title {
    margin: 0;
    padding: 0 0 0 90px;
    color: #000;
    font-size: 1.5em;
    margin-bottom: 60px;
    margin-left: 56px; }
  div.employee div.box_form {
    width: 100%;
    height: auto;
    margin-left: 300px;
    overflow: hidden; }
    div.employee div.box_form div.box_item {
      width: 100%;
      height: auto;
      overflow: hidden;
      padding: 9px 0; }
      div.employee div.box_form div.box_item > label {
        margin: 0;
        float: left;
        padding-top: 5px;
        color: #666666;
        font-weight: normal; }
      div.employee div.box_form div.box_item > label:first-child {
        width: 180px; }
      div.employee div.box_form div.box_item > label:nth-child(2) {
        width: 50px; }
      div.employee div.box_form div.box_item div.item {
        float: left;
        width: 347px;
        height: auto;
        overflow: hidden; }
        div.employee div.box_form div.box_item div.item input[type="text"]:not(.date):not(.show_name_img) {
          width: 100%;
          height: 33px;
          border: 1px solid #7ccfbb; }
        div.employee div.box_form div.box_item div.item input[type=text].date {
          border: 1px solid #7ccfbb;
          height: 33px;
          margin-right: 10px; }
        div.employee div.box_form div.box_item div.item img.icon_img {
          max-width: 30px;
          max-height: 30px;
          margin-top: -4px; }
        div.employee div.box_form div.box_item div.item select {
          width: 100%;
          height: 33px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: 1px solid #7ccfbb; }
        div.employee div.box_form div.box_item div.item .box_radio {
          float: left;
          width: 16px;
          height: 16px;
          border: 1px solid #7ccfbb;
          border-radius: 50%;
          position: relative;
          overflow: hidden; }
          div.employee div.box_form div.box_item div.item .box_radio input[type="radio"] {
            width: 100%;
            height: 100%;
            position: absolute;
            margin: 0;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 2; }
          div.employee div.box_form div.box_item div.item .box_radio input[type="radio"]:checked + div.radio_focus {
            display: block; }
          div.employee div.box_form div.box_item div.item .box_radio div.radio_focus {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #7ccfbb;
            margin: 2px;
            display: none; }
        div.employee div.box_form div.box_item div.item .box_radio + label {
          float: left;
          padding: 0;
          font-weight: normal;
          color: #666666;
          margin: 0 15px 0 18px; }
        div.employee div.box_form div.box_item div.item .box_file_img {
          width: 100%;
          height: auto;
          overflow: hidden; }
          div.employee div.box_form div.box_item div.item .box_file_img input[type="text"] {
            float: left;
            width: 250px;
            height: 33px;
            border: 1px solid #7ccfbb; }
          div.employee div.box_form div.box_item div.item .box_file_img input[type="file"] {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 250px;
            height: 33px; }
          div.employee div.box_form div.box_item div.item .box_file_img div.browe {
            float: left;
            width: 41px;
            height: 33px;
            margin-left: 17px;
            border-radius: 1px;
            background: #70c4b0; }
            div.employee div.box_form div.box_item div.item .box_file_img div.browe img {
              max-width: 25px;
              max-height: 25px;
              margin: 3px auto;
              display: block; }
        div.employee div.box_form div.box_item div.item button {
          margin-top: 30px;
          width: auto;
          height: auto;
          background: #415d79;
          color: #FFFFFF;
          padding: 12px 25px;
          border-radius: 4px;
          border: none; }
          div.employee div.box_form div.box_item div.item button img {
            max-width: 17px;
            max-height: 17px;
            margin-top: -4px;
            margin-right: 12px; }
        div.employee div.box_form div.box_item div.item div.box_show_img {
          width: 100%;
          height: auto;
          overflow: hidden; }
          div.employee div.box_form div.box_item div.item div.box_show_img div.show_img {
            float: left;
            border: 1px solid #70c4b0;
            margin-right: 18px;
            width: 150px;
            overflow: hidden;
            height: 180px; }
            div.employee div.box_form div.box_item div.item div.box_show_img div.show_img img {
              max-width: 149px;
              max-height: 179px;
              overflow: hidden;
              display: block;
              margin: 0 auto; }
          div.employee div.box_form div.box_item div.item div.box_show_img div.show_text {
            margin-top: 65px;
            width: auto;
            height: auto;
            color: #666666; }
    div.employee div.box_form .img_error {
      color: #ea6c5f; }

/*# sourceMappingURL=setting_employee.css.map */
